html{
    padding : 0px;
    margin : 0px;
    background-image: url(Library-interior-photography_1920x1080.jpg);
}

nav {
    display: table;
    width : 100%;
}

a {
    display: table-cell;
    width : 25%;
    text-align: center;
    border: 5px;
    background-color : skyblue;
    font-family: 'Texturina', serif;
}

h1{
    background-color : lightgray;
    text-align: center;
    color : black;
    margin : 0px;
    font-family: 'Nerko One', cursive;
}

iframe{
    margin-top: 2%;
}

articleq {
    margin-top: 2%;
    display: inline-block;
    width : 50%;
    box-sizing: border-box;
    border-style: solid;
    background-color: antiquewhite;
    padding: 5%;
    float: right;
}

articleq1 {
    display: inline-block;
    width : 50%;
    box-sizing: border-box;
    border-style: solid;
    background-color: antiquewhite;
    padding: 5%;
    float: right;
    margin-bottom: 15%;
}
